
.demo-ribbon {
  width: 100%;
  height: 70vh;
  background-color: #3F51B5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

/* Edit changes */
#arcticmonkeys{background: url(../images/bands-imgs/arctic-monkeys/Arctics.jpg);
    background-size: cover;
    -ms-flex-negative: 0;
    background-position: center;}
    
    
#the1975{background: url(../images/bands-imgs/the-1975/1975.JPG);
    background-size: cover;
    -ms-flex-negative: 0;
    background-position: center;}
    
    #disco1-1975{background: url(../images/bands-imgs/the-1975/1975disco.jpg); background-size: cover; background-position: center;}


.demo-card-image > .mdl-card__actions {
    padding: 16px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.mdl-list__item .mdl-list__item-primary-content {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    text-decoration: none !important;
}

.information p{color: gray;}
ul{ list-style: none;}
.demo-content{ margin-bottom: 0px;}
.album-artist{ width: 100px; height: 100px; border-radius: 50%; margin: 5px 5px 20px 5px;}
.mdl-list__item-primary-content{  
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 1;
    min-height: 48px;
    padding: 16px;
    cursor: default;
    color: #888;}
    

.mdl-grid h1{color: #222;}

.mdl-layout__header {
    background: transparent !important;
    color: black;
    position: absolute;
    color: white;
}

.mdl-layout__header-row{color: white;}
.playback, .demo-layout.is-small-screen .playback{ padding: 0px;}


/**************/

#arctic-info{ background: url(../images/bands-imgs/arctic-monkeys/Arctics.jpg) !important; background-size: cover;}
#arctic-info-card{background: url(../images/bands-imgs/arctic-monkeys/arctic-monkeys.jpg) !important; background-size: cover !important;}
.card-demo{padding: 5px;}

.heading--white{color: white;}

.button--custom{color: #222; background: rgba(255, 255, 255, 0.87);}
.hide--this{visibility: hidden;}



/* mgmt */

#mgmt{background: url(../images/bands-imgs/mgmt/mgmt.jpg);
    background-size: cover;
    -ms-flex-negative: 0;
    background-position: 50% 20%;}
    
#mgmt-info-card, #mgmt-info-card2{background: url(../images/bands-imgs/mgmt/mgmt-band-two.jpg) !important; background-size: cover !important;}
.block-content{display:block;}

#tame-impala{background: url(../images/bands-imgs/tame-impala/TameImpala.jpg);
    background-size: cover;
    -ms-flex-negative: 0;
    background-position: 50% 50%;}
    
    #tame-impala-info-card{background: url(../images/bands-imgs/tame-impala/tame-impala-info.jpg) !important; background-size: cover !important;}
.block-content{display:block;}


#the-strokes{background: url(../images/bands-imgs/the-strokes/the-strokes.jpg);
    background-size: cover;
    -ms-flex-negative: 0;
    background-position: 50% 20%;}
    
#vampire-weekend{background: url(../images/bands-imgs/vampire-weekend/vampire-weekend.jpg);
    background-size: cover;
    -ms-flex-negative: 0;
    background-position: 50% 0%;}
    
    
     
    #vampire-weekend-info-card{background: url(../images/bands-imgs/vampire-weekend/vampire-weekend-info-card.jpg) !important; background-size: cover !important;}
.block-content{display:block;}

#cage-the-elephant{background: url(../images/bands-imgs/cage-the-elephant/cage-the-elephant.jpg);
    background-size: cover;
    -ms-flex-negative: 0;
    background-position: center center;}
#cage-info-card{background: url(../images/bands-imgs/the-kooks/the-kooks-info.jpg) !important; background-size: cover !important; background-position: center center !important;}


#the-kooks{background: url(../images/bands-imgs/the-kooks/the-kooks.jpg);
    background-size: cover;
    -ms-flex-negative: 0;
    background-position: center 20%;}
#the-kooks-info-card{background: url(../images/bands-imgs/the-kooks/the-kooks-info.jpg)!important; background-size: cover !important; background-position: center center !important;}