::selection {
    background: pink;
    color: #fdf1f2;
    text-shadow: 0 1px 1px #A294A2;
}


.portfolio-header {
  position: relative;
  background-image: url("images/avatars-material-man-4.png");
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

.portfolio-logo {
  background: url("../images/avatars-material-man-4.png") 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.is-compact .portfolio-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255,64,129);
  left: 15%;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-full-bg {
  background: url(images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
  background: url(images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
  background: url(images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.circle-img{width: 100px; border-radius: 50%;}
.img-container{text-align: center;}
.blog-sub-heading{    margin-top: 0px;
    font-size: 0.95em;
    color: gray;}
    
.blog-sub-heading-bands{    
  margin-top: 0px;
  margin-bottom: 5px;
    font-size: 0.95em;
    color: gray;}
    
    
    
.blog-heading{    margin: 0px;
    color: black;
    font-size: 26px;}
    .blog-content{       font-size: 0.825em;
    line-height: 1.25;
    color: rgba(0,0,0,.54);
    margin-bottom: 10px;}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.position-icon{ float: right;     color: #9E9E9E; margin-top: 10px;}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

footer {
  background-image: url(images/footer-background.png);
  background-size: cover;
}

#history-banner{height: 300px; background: url(../images/raices11.png); background-position: center; background-size: cover;}
.history-name{margin: 0 auto;}


.demo-card-event.mdl-card {

  background: #3E4EB8;
}

#cage-info{background: url(../images/concerts/cage-concert.jpg); background-size: cover;}
#vampire-info{ background: url(../images/vampireweekend.jpg) center / cover; }
.grayscale{    background: rgba(0,0,0,0.4);}
.paragra{letter-spacing: 1px;}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.emoticon-text{height: 42px;}

.img-card-container{text-align: center; margin-top: 10px;}
.img-card-solo{width: 120px; border-radius: 50%; height: 120px;}
#cage1{background: url(../images/cage.png); background-size: cover; background-position: center; margin: 0 auto;}
#strokes2{background: url(../images/strokes.png); background-size: cover; background-position: 95% 80%; margin: 0 auto;}


.demo-card-image.mdl-card #reflektor{

  /*********************** IMPORTANT ***************/
  background: url('../images/albums/Reflektor.jpg') center / cover;
}

#reflektor{
  
   background: url('../images/albums/Reflektor.jpg') center / cover;
  
}

#lonerism{

  /*********************** IMPORTANT ***************/
  background: url('../images/albums/Lonerism.jpg') center / cover;
} 


#phobia{  background: url('../images/albums/Melophobia.jpg') center / cover; }
#death-cab-for-cutie{background: url('../images/death-cab-sing.jpg') 8% 40% / cover; margin: 0 auto; }
#bumbershoot{background: url('../images/bumbershoot.jpg');}



.demo-card-image > .mdl-card__actions {

  padding: 16px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.demo-card-image__filename {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
 letter-spacing: 2px;
}

.clarity{background-color: rgba(255,64,129,0.7)!important; }

.photo-card a{color: #f5f5f5; margin-top: 10px;}

#tame-impala{ background: url('../images/TameImpala.jpg') center / cover; margin: 0 auto;}
.follow-artist{font-size: 30px;     margin-bottom: 15px;
    display: block;
    text-align: center;
    color: black;}
    
.circle-img{width: 100px; height: 100px; border-radius: 50%;}

.bands{text-align:center; margin: 0 auto;}
.starred{color: #f9f14d;
    width: 24px !important;}
    

#definicion{
      background: url('https://cdn0.iconfinder.com/data/icons/beach/6144/15-256.png') center;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: rgb(212, 214, 193);
}

#caracteristicas{ 
      background: url('../images/hip.png') center;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: initial;
      background-color:rgb(63, 68, 73);}
  
  
.mdl-card__supporting-text{color: #888;}
.mini-banner{background: rgb(255, 64, 135);
    color: white;}
    
.quote-frame span{border-bottom-color: #eee !important;}

.contact-container{background: #d7d3c0;}

.timehour-container{background: #14a79d; height: 280px;}

#clock-header{height: 150px; background: url(../images/assets/clock.jpg); background-position: center center; }

.timer{text-align: center;  color: white; padding: 10px; background: #14a79d; border-top: 2px solid white; margin: 0px; text-shadow: 3px 3px 2px #15716b;}

#fecha{
    text-align: center;
    padding: 10px;
    background: #14a79d;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 0px;
    font-size: 10.8px;
    position: relative;
    top: -20px;
    text-shadow: 2px 2px 1px #15716b;
}

.mdl-textfield .mdl-js-textfield{ margin: 10px;}

.centering-checkboxes{    
  display: inline;
    margin: 10px;}
    
.txt-heading{margin-top: 20px;/*padding: 10px;
    background: rgb(255,64,129);
    color: white;*/
  width: 100%;
    font-size: 1.2em;
    font-weight: 600;
    color: #b3b3b3;
}

.register-form{ color: #585757; text-align:center;}

.trivia-cards .mdl-radio__label{font-size: 13px;}

.trivia-numbers{color: white; text-align:center;}

.register-form-banner{    height: 175px;
    background: #eee;
    overflow: hidden;}
    
.register-form-banner i{    font-size: 210px;
    display: block;
    text-align: center;
    color: #d2d2d2;}
    
    
.short-name{font-size: 0.9em; color: #b1b1b1;}

.centering{    text-align: initial;
    width: 20%;
    margin: 0 auto;}
    
.register-form .mdl-textfield{margin: 7px;}

.register-form .mdl-radio__outer-circle, .register-form .mdl-checkbox__box-outline {border: 2px solid rgba(113, 112, 112, 0.54);}

.first-txt-heading{margin-top: 0px;}

textarea{font-family: "Roboto","Helvetica","Arial",sans-serif; font-size: 0.85em;}

.check-name{font-size: 1.15em;}

.register-form input, .register-form textarea{font-size: 14px;}